<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class="{{ if .IsHome }}home big_text{{ end }}">
  <header id="page-head">
    <div id="topbar" class="container">
        <div class="row">
          <div class="span2">
            <h1 id="logo"><a href="/" title="99s">99s</a></h1>
          </div>
          <div class="span10">
            <!-- Top navigation and social icons-->
            <div id="side-header">
              <nav>
                <ul>
                  <li{{ if or (eq .Page.RelPermalink "/articles/") (eq .Section "articles") }} class="active"{{ end }}><a title="Hear my thoughts" href="/articles">Articles</a></li>
  				  <li{{ if .IsPage }}{{ if eq .Type "talks" }} class="active"{{ end }}{{ end }}><a title="Watch my talks" href="/talks">Talks</a></li>
  				  <li{{ if .IsPage }}{{ if or (eq .Type "docs-index") (eq .Section "docs") }} class="active"{{ end }}{{ end }}><a title="Read the docs" href="/docs">Documentation</a></li>
  				  <li{{ if .IsPage }}{{ if eq .Type "services" }} class="active"{{ end }}{{ end }}><a title="Request my services" href="/services">Consulting & Training</a></li>
                </ul>
              </nav> 
              <ul id="social">
                <li>
                  <a href="https://github.com/ninenines" title="Check my Github repositories"><img src="/img/ico_github.png" data-hover="/img/ico_github_alt.png" alt="Github"></a>
                </li>
                    <li>
						<a title="Contact me" href="mailto:contact@ninenines.eu"><img src="/img/ico_mail.png" data-hover="/img/ico_mail_alt.png"></a>
					</li>
              </ul>
            </div>
          </div>
        </div>
    </div>

