/* Bootstrap. */
article,footer,header,nav,section{display:block}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:hover,a:active{outline:0}
img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic}
input{margin:0;font-size:100%;vertical-align:middle;*overflow:visible;line-height:normal}
input::-moz-focus-inner{padding:0;border:0}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.4em;color:#333;background-color:#fff}
a{color:#08c;text-decoration:none}
a:hover{color:#005580;text-decoration:underline}
.row{margin-left:-20px;*zoom:1}
.row:before,.row:after{display:table;content:""}
.row:after{clear:both}
[class*="span"]{float:left;margin-left:20px}
.span2{width:140px}
.span3{width:220px}
.span4{width:300px}
.span5{width:380px}
.span6{width:460px}
.span7{width:540px}
.span8{width:620px}
.span9{width:700px}
.span10{width:780px}
.span12,.container{width:940px}
.container{width:940px;margin-left:auto;margin-right:auto;*zoom:1}
.container:before,.container:after{display:table;content:""}
.container:after{clear:both}
p{margin:0 0 9px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.4em}
h1,h2,h3,h4{margin:0;font-weight:700;color:#333;text-rendering:optimizelegibility}
h1{font-size:30px;line-height:36px}
h2{font-size:24px;line-height:36px}
h3{line-height:27px;font-size:18px}
h4{line-height:18px;font-size:14px}
ul,ol{padding:0;margin:0 0 9px 25px}
ul ul{margin-bottom:0}
ul{list-style:disc}
ol{list-style:decimal}
li{line-height:18px}
dl{margin-bottom:18px}
dt,dd{line-height:18px}
dt{font-weight:700}
dd{margin-left:9px}
hr{margin:18px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}
strong{font-weight:700}
em{font-style:italic}
code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
code{padding:3px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8}
pre{display:block;padding:8.5px;margin:0 0 9px;font-size:12px;line-height:18px;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;white-space:pre;white-space:pre-wrap;word-break:break-all;word-wrap:break-word}
pre code{padding:0;color:inherit;background-color:transparent;border:0}
form{margin:0 0 18px}
input{font-size:13px;font-weight:400;line-height:18px}
input{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
input{display:inline-block;width:210px;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
input[type="image"]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0 \9;border:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
input[type="hidden"]{display:none}
input{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear 0.2s,box-shadow linear .2s;-moz-transition:border linear 0.2s,box-shadow linear .2s;-ms-transition:border linear 0.2s,box-shadow linear .2s;-o-transition:border linear 0.2s,box-shadow linear .2s;transition:border linear 0.2s,box-shadow linear .2s}
input:focus{border-color:rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);outline:0;outline:thin dotted \9}
:-moz-placeholder{color:#999}
table{max-width:100%;border-collapse:collapse;border-spacing:0}
.table{width:100%;margin-bottom:18px}
.btn{display:inline-block;padding:4px 10px;margin-bottom:0;font-size:13px;line-height:18px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-ms-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(top,#fff,#e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);cursor:pointer;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);*margin-left:.3em}
.btn:hover,.btn:active{background-color:#e6e6e6}
.btn:active{background-color:#ccc \9}
.btn:first-child{*margin-left:0}
.btn:hover{color:#333;text-decoration:none;background-color:#e6e6e6;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:active{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);background-color:#e6e6e6;background-color:#d9d9d9 \9;outline:0}
.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.nav{margin-left:0;margin-bottom:18px;list-style:none}
.nav>li>a{display:block}
.nav>li>a:hover{text-decoration:none;background-color:#eee}
.navbar{overflow:visible;margin-bottom:18px}
.navbar-inner{padding-left:20px;padding-right:20px;background-color:#2c2c2c;background-image:-moz-linear-gradient(top,#333,#222);background-image:-ms-linear-gradient(top,#333,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));background-image:-webkit-linear-gradient(top,#333,#222);background-image:-o-linear-gradient(top,#333,#222);background-image:linear-gradient(top,#333,#222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)}
.navbar .brand:hover{text-decoration:none}
.navbar .brand{float:left;display:block;padding:8px 20px 12px;margin-left:-20px;font-size:20px;font-weight:200;line-height:1;color:#fff}
.navbar .nav{position:relative;left:0;display:block;float:left;margin:0 10px 0 0}
.navbar .nav>li{display:block;float:left}
.navbar .nav>li>a{float:none;padding:10px 10px 11px;line-height:19px;color:#999;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.navbar .nav>li>a:hover{background-color:transparent;color:#fff;text-decoration:none}
.navbar .nav .active>a,.navbar .nav .active>a:hover{color:#fff;text-decoration:none;background-color:#222}
.carousel{position:relative;margin-bottom:18px;line-height:1}
.carousel-inner{overflow:hidden;width:100%;position:relative}
.carousel .item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;-moz-transition:.6s ease-in-out left;-ms-transition:.6s ease-in-out left;-o-transition:.6s ease-in-out left;transition:.6s ease-in-out left}
.carousel .active{display:block;left:0}

/* 99s. */
body{background:url(../img/header_bg.jpg) repeat-x scroll 0 0 transparent}
h1,h2,h3,h4{font-family:"Open Sans",verdana,Sans-serif;font-weight:400;margin-bottom:15px}
h2{margin-top:20px}
#docs h3{font-size:24px;line-height:36px}
.lined-header{background:url(../img/header_line.png) repeat-x scroll center center transparent}
.lined-header span{background:#fff;padding-right:15px}
#page-head{background:url(../img/header_bg_center.jpg) no-repeat scroll center top transparent;height:75px;width:100%}
.home #page-head{height:104px}
#topbar{height:60px;padding-bottom:8px}
#logo{margin-bottom:0}
#logo a{background:url(../img/logo.png) no-repeat scroll 0 0 transparent;display:inline-block;height:45px;margin:10px 0;text-indent:-5000px;width:84px}
#side-header li{display:inline-block}
#side-header{height:44px;padding:25px 0 0;text-align:right}
#side-header nav a{border-radius:6px 6px 6px 6px;color:#333;font-family:"Open Sans",Verdana,Sans-serif;font-size:17px;margin:0 5px;padding:8px}
#side-header nav li.active a{background:none repeat scroll 0 0 #1D5C70;color:#fff;text-shadow:.1em .1em .05em #333}
#side-header nav li.active a:hover{background:none repeat scroll 0 0 #144858;text-decoration:none}
#side-header nav,#side-header #social{display:inline-block;margin-left:5px}
#social li{vertical-align:sub}
#page-head .navbar{height:36px;font-family:"Open Sans",Verdana,Sans-serif}
#page-head .navbar-inner{background:none repeat scroll 0 0 transparent;border:medium none;box-shadow:none}
#page-head .navbar .nav li a{background:none repeat scroll 0 0 transparent;color:#555;font-size:15px;padding:8px 12px;text-shadow:none}
#page-head .navbar .nav li a:hover{text-decoration:underline}
#page-head .navbar .nav li.active a{background:none repeat scroll 0 0 #1D5C70;border-radius:5px 5px 5px 5px;color:#FFF;height:18px;margin:4px 0;padding:4px 12px;text-shadow:.1em .1em .05em #333}
#page-head .navbar .nav li.active a:hover{background:none repeat scroll 0 0 #144858;text-decoration:none}
#page-head .navbar .nav{height:35px}
#page-head .brand{padding:9px 10px;color:#333;font-weight:700;font-size:16px;font-style:normal}
#contents ul{margin-left:0}
#contents ul li,#contents ol li{line-height:1.4em;margin-bottom:15px}
#contents ul.extra_margin li{margin-bottom:30px}
#contents ul li{background:url(../img/big_bullet.png) no-repeat scroll 0 center transparent;list-style:none outside none;padding-left:30px}
#contents .row > div{padding-bottom:35px}
#home-carousel{background:url(../img/home/carousel_light_effect.png) no-repeat scroll center bottom transparent;color:#FFF;height:298px;margin-bottom:0;padding-top:1px;text-shadow:.1em .1em .05em #333}
#home-carousel h1{font-size:40px;margin-bottom:20px;margin-top:35px}
#home-carousel h1,#home-carousel h2{color:#FFF;font-weight:400;margin:20px 0}
#home-carousel p{margin:20px 0;font-size:15px}
#home-carousel .carousel-inner{height:299px}
.cowboy-logo{margin-top:5px}
.ranch-logo{margin-left:20px;margin-top:-2px}
.right-buttons{text-align:right}
#contents.home{background:url(../img/home/carousel_bg_blue.png) repeat-x scroll 0 -1px transparent}
#company-description{height:76px;margin-bottom:15px;overflow:hidden}
#company-description div.paragraph{background:url(../img/header_line.png) repeat-x scroll center center transparent;color:#333;font-style:italic;line-height:1.3em;margin:14px 0;text-align:center}
#company-description p{background:none repeat scroll 0 0 #FAFAFA;display:inline-block;width:70%;font-size:18px}
.blog_item .date .year{font-size:20px;display:block;margin-bottom:4px;}
.blog_item .date{font-size:14px;background:#acb75c;height:50px;width:60px;border-radius:34px;border:4px solid #c5d573;color:#fff;float:left;text-align:center;padding-top:10px;padding-left:0;font-style:normal;margin-left:-60px;margin-top:-68px;position:absolute}
.blog_item header h1,.blog_item header h2{margin-left:20px}
.blog_item{border-bottom:1px solid #EEE}
.blog_item a.read_more{color:#fff;background:none repeat scroll 0 0 #ACB75C;border-radius:5px;padding:5px 10px;display:inline-block;margin-top:5px;font-weight:700;font-size:12px}
footer{background:url(../img/footer_bg.png) repeat-x scroll 0 0 transparent;color:#FFF}
footer .container{background:url(../img/footer_bg_light.png) repeat scroll 0 0 transparent;padding-top:15px}
footer .credits{text-align:right}
footer nav li a,footer nav li a:hover{color:#fff}
footer nav li:first-child{padding-left:0}
footer nav li:last-child{border-right:none}
footer nav li{display:inline-block;border-right:1px solid;margin:0;padding:0 10px}
footer nav ul{margin-left:8px;margin-top:15px}
footer #scroll-top a:hover{background:rgba(0,0,0,0.1);text-decoration:none}
footer #scroll-top a{background:rgba(255,255,255,0.1);padding:5px 10px;border-radius:6px;color:#fff}
footer .credits p{margin-bottom:5px}
#contents{background:url(../img/body_bg.jpg) repeat-x scroll 0 -1px #f9f9f9}
#contents .sidecol a:hover{color:#005580}
#contents .sidecol a{color:#1e5c70}
#contents .sidecol ul li{background:url(../img/big_bullet.png) no-repeat scroll -7px center transparent;padding-left:15px}
#contents .container .sidecol{width:220px;padding-top:20px;font-size:13px}
#contents .container .sidecol p{font-size:13px}
#contents .sidecol ul li a{display:block;padding-left:10px}
#contents .sidecol ul li{margin-bottom:7px}
#contents .container .maincol{background:url(../img/container_bg.png) repeat-x scroll 0 -1px #FFF;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;padding-right:40px;padding-top:25px}
#docs-nav+ul,#articles-nav,.sidecol h3{width:500px}
#contents .container .maincol.span9{margin-left:0;padding-left:40px;width:618px}
body{font-size:15px}
body p{font-size:15px}
body .item_title{display:block;font-style:italic}
